@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forget Password";
}

<div class="container-login go-login">
    <div class="form__container form__container-register">
        <form asp-action="ForgetPassword" class="form">
            <h3 class="form__heading">Reset Password</h3>
            <input type="text" name="username" placeholder="username" class="form__field">
            <input type="email" name="email" placeholder="email" class="form__field">

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="btn btn--main">Reset Password</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay overlay--left">
            <h3 class="overlay__heading">Forgot Password?</h3>
            <p class="overlay__desc">Keep your mind and fill the form.</p>
            <a asp-action="Login" style="background-color: #fff;" id="go-login" class="btn btn--main-outline">Go Back</a>
        </div>
    </div>
</div>