@model (string userId, string token)
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forget Password";
}

<div class="container-login go-login">
    <div class="form__container form__container-register">
        <form asp-action="TryResetPassword" class="form">
            <input type="hidden" name="userId" value="@Model.userId" />
            <input type="hidden" name="token" value="@Model.token" />
            <h3 class="form__heading">Reset Password</h3>
            <input type="password" name="password" placeholder="new Password" class="form__field">
            <input type="password" name="confirmPassword" placeholder="confirm New Password" class="form__field">

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <button type="submit" class="btn btn--main">Reset Password</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay overlay--left">
            <h3 class="overlay__heading">Reset Password</h3>
            <p class="overlay__desc">We hope you will not forget a new password.</p>
        </div>
    </div>
</div>