$white: #fff;
$black: #333;
$main-color: #2980b9;
$sec-color: #3498db;

.form {
    width: 100%;

    &__heading {
        font-size: 40px;
        margin-bottom: 15px;
    }

    &__field {
        width: 99%;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        margin-bottom: 15px;
        background: #c7e3f5;
        border: none;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            text-transform: capitalize;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            text-transform: capitalize;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            text-transform: capitalize;
        }

        &:-moz-placeholder { /* Firefox 18- */
            text-transform: capitalize;
        }

        &:focus, &:active {
            outline: 0;
        }
    }

    &__text {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;

    &--main {
        background: linear-gradient(45deg, $main-color, $sec-color);
        color: $white;
    }

    &--main-outline {
        border: 2px solid linear-gradient(45deg, $main-color, $sec-color);
        color: $main-color;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus, &:active {
        outline: 0;
    }
}

.panel-navbar {
    display: flex;
    justify-content: space-between;
}

//faculty table
#details-container {
    padding: 10px;
}

#details-container h2 {
    margin: 0;
}

#details-container em {
    color: #8c8c8c;
}

#details-container dt {
    margin: 0;
    display: inline;
}

.table-modal-btn {
    display: flex;
    justify-content: space-around;
}

.modal__field {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #c7e3f5;
    border: none;
    border-radius: 5px;
}