@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "CreateFaculty";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Create Faculty</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="CreateFaculty" class="form">
        <h3 class="section-title">Faculty information</h3>
        <div class="section-form">
            <div class="form-group">
                <label for="" class="form__field__label">Name<span>*</span></label>
                <input type="text" name="name" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Cipher<span>*</span></label>
                <input type="text" name="cipher" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Address</label>
                <input type="text" name="address" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Phone Number<span>*</span></label>
                <input type="text" name="phoneNumber" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Students Count</label>
                <input type="number" name="studentsCount" class="form__field">
            </div>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowFaculties" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Create Faculty</button>
    </form>
</section>