@using UniversityProject.ViewModels.Faculty
@model ShowFacultiesAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Faculties";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />

<section class="panel important">
    <div class="panel-navbar">
        <h2>Faculties</h2>
        <a asp-action="CreateFaculty" class="btn btn--main-outline">Create Faculty</a>
    </div>
</section>

<div class="panel important">
    <div id="grid"></div>
    <div id="details"></div>
</div>

<script type="text/x-kendo-template" id="detailWindowTemplate">
    <div id="details-container">
        <h4>Faculty: <em>#= name #</em></h4><br />
        <h4>Cipher: <em>#= cipher #</em></h4><br />
        <h4>Address: <em>#= address #</em></h4><br />
        <h4>PhoneNumber: <em>#= phoneNumber #</em></h4> 
    </div>
</script>

<script type="text/x-kendo-template" id="deleteWindowTemplate">
    <div id="details-container">
        <h4>Are you sure to delete item?</h4><br />
        <button type="button" class="btn confirm-button" onclick="confirmDelete(this)">Confirm</button>
        <button type="button" class="btn cancel-button" onclick="closeModal(this)">Cancel</button>
    </div>
</script>

<script>
    var faculties = @Html.Raw(Json.Serialize(Model.Faculties));
</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script>
<script src="~/js/pages/faculty.js"></script>