@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Faculty";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Faculties</h2>
        <a asp-action="CreateFaculty" id="go-login" class="btn btn--main-outline">Create Faculty</a>
    </div>
</section>

<div class="panel important">
    
</div>