@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<section class="panel important">
    <h2> Ласкаво просимо на вашу інформаційну панель </h2>
    <ul>
        <li> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </li>
        <li> Алігами tincidunt mauris eu risus. </li>
        <li> Vestibulum auctor dapibus neque. </li>
    </ul>
</section>

<section class="panel">
    <h2>Статистика</h2>
    <ul>
        <li><b>8 </b>Зареєстрованих студентів</li>
        <li><b>7</b>Зареєстрованих вчителів</li>
    </ul>
</section>
<section class="panel ">
    <h2>Останні зареєстровані користувачі</h2>
    <table>
        <tr>
            <th>Юзернейм</th>
            <th>Дата</th>
        </tr>
        <tr>
            <td>abramasd</td>
            <td>12/05/2019</td>
        </tr>
        <tr>
            <td>orlovGeorge</td>
            <td>12/05/2019</td>
        </tr>
        <tr>
            <td>filTest</td>
            <td>11/05/2019</td>
        </tr>
        <tr>
            <td>teacher1</td>
            <td>11/05/2019</td>
        </tr>
        <tr>
            <td>MathGod</td>
            <td>11/05/2019</td>
        </tr>
        <tr>
            <td>Algoengeneer</td>
            <td>11/05/2019</td>
        </tr>
    </table>
</section>