@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<section class="panel important">
    <h2> Ласкаво просимо на вашу інформаційну панель </h2>
</section>

<section class="panel">

</section>