@using UniversityProject.ViewModels.AdminViewModels.GroupViewModels
@model CreateGroupDataAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Group";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />

<section class="panel important">
    <div class="panel-navbar">
        <h2>Create Group</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="CreateGroup" class="form">
        @Html.DropDownList(string.Empty, new SelectList(Model.Faculties, "Id", "FacultyName"),
        htmlAttributes: new { @class = "form__field", @name = "facultyId", @id = "facultyBox" })

        @Html.DropDownList(string.Empty, new SelectList(Model.Chairs, "Id", "ChairName"),
        htmlAttributes: new { @class = "form__field", @name = "chairId", @id = "chairBox" })

        <input type="text" name="groupNumber" placeholder="group number" class="form__field">

        @{
            var courses = Model.CourseNumberTypes.Select(item => new SelectListItem
            {
                Text = item.ToString(),
                Value = item.ToString()
            });
        }

        @Html.DropDownList(string.Empty, new SelectList(courses, "Text", "Value"),
        htmlAttributes: new { @class = "form__field", @name = "courseNumberTypeId" })

        <input id="yearpicker" name="creationYear" />

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowGroups" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Create Group</button>
    </form>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script>
<script src="~/js/pages/createGroup.js"></script>
<script>
    $("#yearpicker").kendoDatePicker({
        start: "decade",
        depth: "decade",
        format: "yyyy"
    });
</script>