
@{   
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Group";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Create Group</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="CreateGroup" class="form">
        <input type="text" name="name" placeholder="chair name" class="form__field">
        <input type="text" name="cipher" placeholder="chair cipher" class="form__field">
        <select name="facultyId">
            @foreach (var faculty in Model.Faculties)
            {
                <option value="@faculty.Id">@faculty.FacultyName</option>
            }
        </select>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowGroups" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Create Group</button>
    </form>
</section>