
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Groups";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Groups</h2>
        <a asp-action="CreateGroup" id="go-login" class="btn btn--main-outline">Create Group</a>
    </div>
</section>