
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Show Groups";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Groups</h2>
        <a asp-action="ShowGroups" id="go-login" class="btn btn--main-outline">Show Groups</a>
    </div>
</section>
