@using UniversityProject.ViewModels.AdminViewModels.TeacherViewModels
@model ShowTeachersAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Teachers";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />

<section class="panel important">
    <div class="panel-navbar">
        <h2 class="panel-navbar-title">Teachers</h2>
        <a asp-action="RegisterTeacher" class="btn btn--main-outline">Створити викладача</a>
    </div>
</section>

<div class="panel important">
    <div id="teachersGrid"></div>
    <div id="teacherDetails"></div>
</div>

<script type="text/x-kendo-template" id="detailWindowTemplate">
    <div id="details-container">
        <h4>Teacher: <em>#= fullName #</em></h4><br />
        <h4>Cathedra: <em>#= cathedraName #</em></h4><br />
        <h4>Subjects: <em>#= subjectName #</em></h4><br />
    </div>
</script>

<script type="text/x-kendo-template" id="deleteWindowTemplate">
    <div id="details-container">
        <h4>Are you sure to delete item?</h4><br />
        <button type="button" class="btn confirm-button" onclick="confirmDelete(this)">Confirm</button>
        <button type="button" class="btn cancel-button" onclick="closeModal(this)">Cancel</button>
    </div>
</script>

<script>
    var teachers = @Html.Raw(Json.Serialize(Model.Teachers));
</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script>
<script src="~/js/pages/teachers.js"></script>