@using UniversityProject.ViewModels.AdminViewModels.ChairViewModels
@model ShowChairsAdminView
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Chairs";
}

<link href="~/lib/kendo/kendo.common-material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.css" rel="stylesheet" />
<link href="~/lib/kendo/kendo.material.mobile.css" rel="stylesheet" />

<section class="panel important">
    <div class="panel-navbar">
        <h2>Chairs</h2>
        <a asp-action="CreateChair" id="go-login" class="btn btn--main-outline">Create Chair</a>
    </div>
</section>

<div class="panel important">
    <div id="chairsGrid"></div>
    <div id="chairDetails"></div>
</div>

<script type="text/x-kendo-template" id="detailWindowTemplate">
    <div id="details-container">
        <h4>Chair: <em>#= name #</em></h4><br />
        <h4>Cipher: <em>#= cipher #</em></h4><br />
        <h4>Faculty: <em>#= facultyName #</em></h4><br />
    </div>
</script>

<script type="text/x-kendo-template" id="deleteWindowTemplate">
    <div id="details-container">
        <h4>Are you sure to delete item?</h4><br />
        <button type="button" class="btn confirm-button" onclick="confirmDelete(this)">Confirm</button>
        <button type="button" class="btn cancel-button" onclick="closeModal(this)">Cancel</button>
    </div>
</script>

<script>
    var chairs = @Html.Raw(Json.Serialize(Model.Chairs));
</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script>
<script src="~/js/pages/chair.js"></script>