@using UniversityProject.ViewModels.AdminViewModels.ChairViewModels
@model CreateChairDataAdminView

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Chair";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2 class="panel-navbar-title">Створення кафедри</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="CreateChair" class="form">
        <h3 class="section-title">Інформація</h3>
        <div class="section-form">
            <div class="form-group">
                <label for="" class="form__field__label">Назва<span>*</span></label>
                <input type="text" name="name" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Шифр<span>*</span></label>
                <input type="text" name="cipher" class="form__field">
            </div>
            <div class="form-group">
                <label for="" class="form__field__label">Факультет</label>
                @Html.DropDownList(string.Empty, new SelectList(Model.Faculties, "Id", "FacultyName"),
                htmlAttributes: new { @class = "form__field", @name = "facultyId" })
            </div>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowChairs" class="btn btn--main-outline">Повернутися</a>
        <button type="submit" class="btn btn--main">Зберегти</button>
    </form>
</section>