@using UniversityProject.ViewModels.AdminViewModels.ChairViewModels
@model EditChairDataAdminView

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Chair";
}

<section class="panel important">
    <div class="panel-navbar">
        <h2>Edit Chair</h2>
    </div>
</section>

<section class="panel important">
    <form asp-action="EditChair" class="form">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <label for="" class="form__field__label">Name<span>*</span></label>
            <input type="text" name="name" class="form__field" value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="" class="form__field__label">Cipher<span>*</span></label>
            <input type="text" name="cipher" class="form__field" value="@Model.Cipher">
        </div>
        <div class="form-group">
            <label for="" class="form__field__label">Faculty</label>
            @Html.DropDownListFor(x => Model.FacultyId,
           new SelectList(Model.Faculties, "Id", "FacultyName"),
           htmlAttributes: new { @class = "form__field", @name = "facultyId" })
        </div>
        
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <a asp-action="ShowChairs" class="btn btn--main-outline">Go Back</a>
        <button type="submit" class="btn btn--main">Edit Chair</button>
    </form>
</section>